<div class="container">
  <div class="d-flex flex-column">
    <!-- dropdown -->
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        分類
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>

    <!-- display total amount -->
    <div class="total-amount-section text-center m-5">
      <span>總金額：</span>
      <span class="total-amount ml-4">150</span>
    </div>

    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <span><span>{{ this.name }} {{ this.amount }}元 </br>{{ this.date }}</span>
        <a class="btn btn-outline-success" href="#" role="button">修改</a>
        <a class="btn btn-outline-danger" href="#" role="button">刪除</a>
      </li>
      {{/each}}
    </ul>
    
    <div class="text-center">
      <a href="/records/new" class="btn btn-outline-warning active mt-4" role="button"
        aria-pressed="true">新增支出</a>
    </div>

  </div>
</div>